@charsret "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html {
    min-width: 100vw;
    scroll-behavior: smooth;
    background-color: black;
}

body {
    max-width: 890px;
    min-width: 350px;
    display: block;
    position: relative;
    font-family: arial,'Courier New', Courier, monospace;
    font-size: 1.14em;
    color: white;
    text-shadow: 1px 1px 6px black;
    background-color: black;
    line-height: 1.88em;
    margin: auto;
}

header{
    display: block;
    position: relative;
}

main{
    display: block;
    position: relative;    
    font-size: 1.2em;
}

a {
    text-decoration: none;
}

header h1 {
    color: white;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
    margin: auto;
    border-radius: 200px;
    text-shadow: 1px 1px 1px rgba(0, 46, 49);
}

header a {
    display: inline-block;
    margin: 5px;
    padding: 5px;
    color: white;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 200px;
}

section{
    padding-bottom: 1em; 
    background-color: rgba(255, 255, 255);
    margin-bottom: 1em; 
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.767);
    background-image: url('atmsec.webp');    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
    background-attachment: fixed;
}

nav {
    position: relative;
    list-style: none;
}

ol {
    position: relative;
    margin: auto;
}

li {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.7);
    margin: auto;
    width: auto;
    padding: 1em;
}

section.imgmain {
    background-color: black;
    background-image: url('automacaomain.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    background-attachment: fixed;
}

section h1 {
    position: relative;
    margin-left: 10%;
    color: white;
    margin-top: -0.6em;
}

section h4 {
    position: relative;
    margin-top: 0px;
    padding-top: 2%;
    margin-left: 70%;
    color: white;
}

section p {
    color: white;
    font-family: 'Times New Roman', Times, serif, monospace;
    text-indent: 2em;
    text-align: justify;
    margin-top: 1em;
    margin-right: auto;
    margin-bottom: 2em;
    margin-left: auto;
    text-shadow: 0px 0px 2px white;
    width: 70%;    
    background-color: rgba( 0, 0, 0, 0.75);
    border-radius: 5px;
    padding: 2em;
}

button {
    position: relative;
    color: white;
    opacity: 0.7;
    margin-top: 0.3em;
    margin-left: 80%;
    border-radius: 200px;
}

button:hover {
    background-color: gray;
    position: relative;
    color: white;
    opacity: 0.7;
    border-radius: 200px;
}

footer {
    width: 100%;
    text-align: center;
    text-decoration: none;
    margin-bottom: 1em;
}
