@charset "UTF-8";
html{
    width: 99vh;
}

body {
    width: 95%;
    min-width: 350px;
    max-width: 1200px;
    position: relative;
    font-family: arial,'Courier New', Courier, monospace;
    font-size: 1.14em;
    margin: auto;
    color: white;
    text-shadow: 1px 1px 6px rgba(0, 46, 49, 0.863);
    background-color: rgb(0, 179, 192);
}
main{
    width: 95%;
    margin-top: -1em;
    margin-right: auto;
    margin-left: auto;
    
}
footer {
    width: 95%;
    text-align: center;
    margin-bottom: 1em;
}
header{
    width: 95%;
    margin: auto;
}

header h1 {
    color: rgb(215, 252, 255);
    text-align: center;
    background-color: rgba(0, 46, 49, 0.247);
    margin-right: 30%;
    margin-left: 30%;
    border-radius: 3px;
    text-shadow: 1px 1px 1px rgba(0, 46, 49);
}

header a {
    color: rgba(255, 255, 255, 0.863);
    margin: 0em 1em   ;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.329);
    padding: 0.5em ;
    border-radius: 2px;
}

section{
    height: auto;
    width: 95%;
    padding-bottom: 1em; 
    background-color: rgb(215, 252, 255);
    margin-bottom: 6em; 
    border-radius: 5px;

}

section h1 {
    position: relative;
    margin-left: 10%;
    color: rgb(241, 248, 248);
    margin-top: -0.6em;
}
section h4 {
    position: relative;
    padding-top: 2%;
    margin-left: 65%;
    font-weight: light;
}

section p {
    color: rgb(59, 101, 105);
    text-indent: 2em;
    text-align: justify;
    margin-top: 2em;
    margin-right: auto;
    margin-bottom: 5em;
    margin-left: auto;
    text-shadow: 1px 1px 2px rgb(0, 238, 255);
    width: 70%;    
    
}

button {
    position: relative;
    color: white;
    opacity: 0.5;
    margin-top: 5%;
    margin-left: 80%;
}

nav#serv {
    width: auto;
    height: auto;
    position: relative;
    display: block;
    columns: 2;
    margin: 50px;
}
ol {
    display: inline-block;
    position: relative;
    list-style: none;
    width: 150px;
    height: 150px;
    
}

li {
    display: inline-block;
    position: relative;
    text-decoration: none;
}
figure{
    position: relative;
    width: 170px;
    background-color: rgba(0, 238, 255, 0.329);
    border-radius: 5px;
    text-align: center;
    padding-bottom: 0.001em;
}

figcaption h1{
    position: relative;
    text-align: center;
}

img{
    position: relative;
    margin: 1em;
    width: 90px;
    height: 90px;
}

form{
    position: relative;
    margin-left: 8%;
    margin-top: 5%;
}
input#foneid {
    width: 45%;
    margin-left: 1.4em;
}
input#nomeid{
    width: 45%;
    margin-left: 1em;
}
input#emailid {
    width: 45%;
    margin-left: 1.2em;
}
textarea {
    width: 70%;
    height: 10em;
    margin-left: 4.2em;
}
input.enviar {
    margin-top: 1em;
    margin-left: 45%;
}
