@charset "UTF-8";

html {
    width: 80%;
    min-width: 295px;
    max-width: 800px;
    scroll-behavior: smooth;
}

body {
    width: 99.5%;
    min-width: 240px;
    max-width: 1200px;
    position: relative;
    font-family: arial,'Courier New', Courier, monospace;
    font-size: 1.14em;
    margin-left: 3em;
    margin-right: 3em;
    color: white;
    text-shadow: 1px 1px 6px black;
    background-color: black;
    line-height: 1.88em;
}
main{
    width: 100%;
    position: relative;    
    margin-top: 0em;
    font-size: 1.2em;
}

header{
    width: 100%;
    position: relative;
}

div#imgmain {
    position: relative;
    background-image: url("fundomain.webp");
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
}

div#imgquemsomos {
    position: relative;
    background-image: url("fundoquemsomos.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
div#imgservicos {
    position: relative;
    background-image: url("fundoservicos.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

div#imgfconosco {
    position: relative;
    background-image: url("fundofconosco.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}



a {
    text-decoration: none;
}

header h1 {
    color: white;
    text-align: center;
    background-color: rgba(9, 92, 131, 0.5);
    margin-right: 30%;
    margin-left: 30%;
    border-radius: 3px;
    text-shadow: 1px 1px 1px rgba(0, 46, 49);
}
nav#menu {
    width: 100%;    
}
header a {
    color: white;
    margin: 0em 0.5em   ;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 0em 1em ;
    border-radius: 2px;
}

section{
    height: auto;
    width: auto;
    padding-bottom: 1em; 
    background-color: rgba(255, 255, 255, 0.2);
    margin-bottom: 0.5em; 
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(32, 139, 201, 0.733);

}

section h1 {
    position: relative;
    margin-left: 10%;
    color: white;
    margin-top: -0.6em;
}
section h4 {
    position: relative;
    margin-top: 0px;
    padding-top: 2%;
    margin-left: 70%;
    color: white;
}

section p {
    color: white;
    text-indent: 2em;
    text-align: justify;
    margin-top: 1em;
    margin-right: auto;
    margin-bottom: 2em;
    margin-left: auto;
    text-shadow: 0px 0px 10px black;
    width: 70%;    
    background-color: rgba(255, 255, 255, 0.26);
    border-radius: 5px;
    padding: 1em;
}

button {
    position: relative;
    color: white;
    opacity: 0.7;
    margin-top: 0.3em;
    margin-left: 80%;
    scroll-behavior: smooth;
}

nav#serv {
    width: 40vh;
    height: auto;
    position: relative;
    margin-left: 0px;
    margin-right: 0px;
}

nav#serv > ul{
    position: relative;
    margin: 0px;
    padding: 0px;
    display: block;
}
ol {
    position: relative;
    list-style: none;
    width: 150px;
    height: 150px;
    text-decoration: none;
    
    
}

li {
    display: inline-block;
    position: relative;
    text-decoration: none;

}
li:hover {
    
    scale: 1.3;
    opacity: 0.9;
    transition: 0.8s;
    
}

figure{
    position: relative;
    width: 170px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    text-align: center;
    padding-bottom: 0.001em;
}

figcaption h1{
    position: relative;
    margin: auto;
    font-size: 0.89em;
}

img{
    position: relative;
    margin: 1em;
    width: 90px;
    height: 90px;
}

form{
    position: relative;
    margin-left: 8%;
    margin-top: 5%;
}
label {
    font-size: 0.7em;
}
input#foneid {
    width: 45%;
    margin-left: 5em;
}
input#nomeid{
    width: 45%;
    margin-left: 5em;
}
input#emailid {
    width: 45%;
    margin-left: 5em;
}
textarea {
    width: 70%;
    height: 10em;
    margin-left: 5em;
}
input.enviar {
    margin-top: 1em;
    margin-left: 70%;
}

div#servicos {
    position: relative;
    display: block;
    margin-left: 0px;
    margin-right: 0px;
    columns: 2;
  
}
footer {
    width: 100%;
    text-align: center;
    text-decoration: none;
    margin-bottom: 1em;
    
}
